h2.logo{
    color: white;
    margin: 0;
}

.menu{
    background: rgb(52, 247, 4);
    padding:8px 0;
}

.menu-list{
    position: relative;
    top: -28px;
    float: right;
    
}

.menu-list ul{
    display: inline-block;
    
}

.menu-list li{
    padding: 0 10px;
    text-align: left;
    display: inline-block;
    font-size: 15px;
}

.menu-list a{
    color: white;
    text-decoration: none;
}
